.slider {
  width: 100%;
  height: 100vh;
  white-space: nowrap;
  transform: translate3d(0%, 0px, 0px);
  position: relative;
  overflow: hidden;
  .slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: normal;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: all 1.6s ease-in-out;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    transform: translateX(100%);
    .bar {
      color: white;
      position: absolute;
    }
    &:first-child {
      display: block;
    }
    &.activeSlide {
      z-index: 3;
      display: block;
    }
    &.nextSlide {
      display: block;
    }
    &.prevSlide {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 100%;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media only screen and (min-width: 768px) {
      width: 85px;
    }
    cursor: pointer;
    svg,
    img {
      position: relative;
      max-width: 50px;
      max-height: 50px;
      display: block;
    }
    &.next {
      right: 10px;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='33' viewBox='0 0 28 46'%3E%3Cstyle%3E path %7B fill: white; %7D %3C/style%3E%3Cpath d='m6.2 42.9l-2.8-2.9 17.1-17.1-17.1-17.1 2.8-2.9 20 20z' /%3E%3C/svg%3E");
    }
    &.prev {
      left: 10px;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 46' width='20' height='33'%3E%3Cstyle%3E path %7B fill: white; %7D %3C/style%3E%3Cpath d='m20 44l-20-20 20-20 2.8 2.8-17.1 17.2 17.1 17.1z'%0A/%3E%3C/svg%3E");
    }
  }
}
